<table>
  <tbody>
    <% if buttons.any? %>
      <% buttons.each do |button| %>
        <tr>
          <td><%= link_to button do %><%= render 'components/crypto_decrypt', placeholder: 'ENCRYPTED', ciphertext: button.summary_ciphertext %><% end %></td>
          <td style="width: 30%; text-align: right;"><%= render 'components/button_toggle', button: button %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">No buttons here!</td>
      </tr>
    <% end %>
  </tbody>
</table>
