<!-- app/views/buttons/index.html.erb -->

<h1>Buttons</h1>

<%= render 'index', buttons: @buttons %>

<p>Buttons start conversations. :) Think of them like doorbells.</p>
<p>Buttons can't be edited, but you can archive them and make new ones anytime.</p>

<div class="stack-horizontal">
  <%= link_to 'New button', new_button_path %>
  <%= link_to 'Archived buttons', index_archived_buttons_path %>
</div>
