<button-toggle data-button-id="<%= button.id %>" data-is-archived="<%= button.archived? %>">
  <template shadowrootmode="open">
    <button class="button-toggle" aria-pressed="<%= button.archived? %>" part="button">
      <%= button.archived? ? 'Restore' : 'Archive' %>
    </button>
  </template>
</button-toggle>
