<crypto-decrypt>
  <template shadowrootmode="open">
    <style>
      :host {
        display: inline-block;
      }
    </style>
    <span id="content" part="content"><%= placeholder %></span>
  </template>
  <%= ciphertext %>
</crypto-decrypt>
