<prompt-button>
  <template shadowrootmode="open">
    <%= stylesheet_link_tag 'components/prompt-button' %>

    <button part="button">
      <%= prompt %>
    </button>
  </template>

  <%= prompt %>
</prompt-button>
