body,
textarea,
input,
button,
button-toggle::part(button),
prompt-button::part(button) {
  font-size: 100%;
  font-family: 'Lightward Favorit';
  font-weight: 200;
  color: var(--body-text-color);
}

button,
button-toggle::part(button),
prompt-button::part(button),
input[type='button'],
input[type='submit'],
a.button {
  padding: 0.7rem 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.375rem;
  background-color: var(--button-bg-color);
  border: 1px solid var(--button-border-color);
  color: var(--body-text-color);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-decoration: none;
  font-family: 'Lightward Favorit';
  text-align: left;
}

button:hover,
button-toggle::part(button):hover,
prompt-button::part(button):hover,
input[type='button']:hover,
input[type='submit']:hover,
a.button:hover {
  background-color: var(--button-hover-bg-color);
  box-shadow: var(--box-shadow-hover);
  color: var(--body-text-color);
}

button:disabled,
button-toggle::part(button-disabled),
prompt-button::part(button-disabled),
input[type='button']:disabled,
input[type='submit']:disabled,
a.button:disabled {
  background-color: var(--button-disabled-bg-color);
  border-color: var(--button-disabled-border-color);
  color: var(--button-disabled-text-color);
  cursor: not-allowed;
}

button:disabled:hover,
button-toggle::part(button-disabled):hover,
prompt-button::part(button-disabled):hover,
input[type='button']:disabled:hover,
input[type='submit']:disabled:hover,
a.button:disabled {
  background-color: var(--button-disabled-hover-bg-color);
  box-shadow: none;
}
