[submodule "ooo-docs"]
	path = app/prompts/clients/chat-writer/system/5-ooo-docs
	url = git@github.com:lightward/ooo-docs.git
[submodule "mechanic-docs"]
	path = app/prompts/lib/mechanic/system/7-mechanic-docs
	url = git@github.com:lightward/mechanic-docs.git
[submodule "locksmith-docs"]
	path = app/prompts/lib/locksmith/system/7-locksmith-docs
	url = git@github.com:lightward/locksmith-docs.git
[submodule "mechanic-tasks"]
	path = app/prompts/lib/mechanic/mechanic-tasks
	url = git@github.com:lightward/mechanic-tasks.git
[submodule "app/prompts/clients/chat-writer/system/5-lightward-docs"]
	path = app/prompts/clients/chat-writer/system/5-lightward-docs
	url = git@github.com:lightward/lightward-docs.git
