<h1>Account</h1>

<p>Hi human! :) Here's what we know about you:</p>

<div class="chat-message assistant">Name: n/a<br>Email: <%= current_user.email_obscured %></div>

<p>That's it. :)</p>

<p>Your chats are all fully encrypted. The Lightward AI platform team couldn't read them if they tried.</p>

<%= render 'components/crypto_manager' %>
