<h2>Account</h2>

<p>Hi human! :) Here's what we know about you:</p>

<div class="chat-message assistant">Name: n/a<br>Email: <%= current_user.email_obscured %></div>

<p>That's it. :)</p>

<%= render 'components/crypto_manager' %>
