<div id="chat-container" class="chat-container">
  <div id="chat-log" class="chat-log">
    <div id="start-suggestions" class="response-suggestions">
      <a href="#" class="element button response-link">I'm a slow reader</a>
      <a href="#" class="element button response-link">I'm a fast reader</a>
      <span id="instructions">← tap one</span>
    </div>
  </div>

  <div id="response-suggestions" class="response-suggestions hidden">
    <a href="#" class="element button response-link">Are you okay?</a>
    <a href="#" class="element button response-link">What happened?</a>
    <a href="#" class="element button response-link">Retry</a>
  </div>

  <input id="user-input" class="element chat-input hidden" disabled type="text" placeholder="What would you like to say?">
</div>

<div id="footer">
  <p>No history is kept. If you hit refresh, you'll start over.</p>
  <dl>
    <dt>More?</dt>
    <dd><a href="https://lightward.com/" target="_blank">lightward.com</a></dd>
    <dd><a href="https://koipond.me/" target="_blank">koipond.me</a></dd>
    <dd><a href="https://impliedreality.com/" target="_blank">impliedreality.com</a></dd>
    <dd><a href="https://lightward.guide/" target="_blank">lightward.guide</a></dd>
    <dd><a href="https://lightward.guide/" target="_blank">isaacbowen.com</a></dd>
    <dd><a href="https://apps.shopify.com/locksmith" target="_blank">Locksmith</a></dd>
    <dd><a href="https://apps.shopify.com/mechanic" target="_blank">Mechanic</a></dd>
  </dl>
</div>
