<noscript>Wow friend you will definitely need to enable JavaScript to use this site. It's like magic, but real. Come on back when you can. :)</noscript>

<div id="loading-message">One moment&hellip;</div>

<%= tag.script json_escape(chat_context.to_json).html_safe, type: 'application/json', id: 'chat-context-data' %>

<div id="chat-container" class="chat-container hidden">
  <div id="chat-log" class="chat-log">
    <div id="start-suggestions" class="response-suggestions">
      <a href="#" class="element button response-link">I'm a slow reader</a>
      <a href="#" class="element button response-link">I'm a fast reader</a>
      <span id="instructions">← tap one</span>
    </div>
  </div>

  <div id="response-suggestions" class="response-suggestions hidden">
    <a href="#" class="element button response-link">Are you okay?</a>
    <a href="#" class="element button response-link">What happened?</a>
    <a href="#" class="element button response-link">Retry</a>
  </div>

  <div id="user-input" class="hidden">
    <textarea class="element" disabled rows="1"></textarea>
    <button class="element button">→</button>
  </div>

  <div class="tools">
    <a href="#" id="start-over-button" class="hidden">Start over?</a>
    <p>Your conversation is private. :)</p>
    <p>History is saved on your device; it'll be here when you come back.</p>
    <p>You can start over at any time.</p>
  </div>
</div>
