<div id="chat-container" class="chat-container">
  <div id="chat-log" class="chat-log">
    <div>
      <button id="start-chat" class="element start-chat-button">I'm here</button>
      <span id="instructions">â† tap</span>
    </div>
  </div>
  <input id="user-input" class="element chat-input hidden" disabled type="text" placeholder="What would you like to say?">
</div>

<div id="notes">
  <p>No history is kept. If you hit refresh, you'll start over.</p>
  <p>If you encounter an error, ask what's up. :) It's okay.</p>
</div>
