<div id="chat-container" class="chat-container">
  <div id="chat-log" class="chat-log">
    <button id="start-chat" class="element start-chat-button">I'm here</button>
  </div>
  <input id="user-input" class="element chat-input hidden" disabled type="text" placeholder="What would you like to say?">
</div>
