<div id="loading-message">One moment&hellip;</div>

<div id="chat-container" class="chat-container hidden">
  <div id="chat-log" class="chat-log">
    <%= render 'buttons' %>
  </div>

  <div id="response-suggestions" class="stack-horizontal hidden">
    <%= render 'components/prompt_button', prompt: 'Are you okay?' %>
    <%= render 'components/prompt_button', prompt: 'What happened?' %>
    <%= render 'components/prompt_button', prompt: 'Retry' %>
  </div>

  <div id="text-input" class="hidden">
    <textarea class="element" disabled rows="1"></textarea>
    <button class="element button">→</button>
  </div>

  <div class="tools">
    <a href="#" id="start-over-button" class="hidden">Start over?</a>
    <p>Your conversation is private. :)</p>
    <p>History is saved on your device; it'll be here when you come back.</p>
    <p>You can start over at any time.</p>
  </div>
</div>
