<div id="chat-container" class="chat-container">
  <div id="chat-log" class="chat-log">
    <div id="start-suggestions" class="response-suggestions">
      <a href="#" class="element button response-link">I'm a slow reader</a>
      <a href="#" class="element button response-link">I'm a fast reader</a>
      <span id="instructions">â† tap one</span>
    </div>
  </div>

  <div id="response-suggestions" class="response-suggestions hidden">
    <a href="#" class="element button response-link">Are you okay?</a>
    <a href="#" class="element button response-link">What happened?</a>
    <a href="#" class="element button response-link">Retry</a>
  </div>

  <input id="user-input" class="element chat-input hidden" disabled type="text" placeholder="What would you like to say?">
</div>

<div id="notes">
  <p>No history is kept. If you hit refresh, you'll start over.</p>
  <p>If you encounter an error, ask what's up. :) It's okay.</p>
</div>
