:host {
  display: block;
  margin-top: 1rem;
}

#uninitializedView,
#lockedView,
#unlockedView,
#changePassphraseForm {
  display: none;
}

#wrapper[data-state='uninitialized'] #uninitializedView,
#wrapper[data-state='locked'] #lockedView,
#wrapper[data-state='unlocked'] #unlockedView {
  display: block;
}

#wrapper[data-state='changing-passphrase'] #changePassphraseForm {
  display: flex;
}

#wrapper[data-state='changing-passphrase'] #unlockedView {
  display: none;
}
