/*= require colors */

body {
  margin: 5vh 2vw;
  background-color: var(--body-bg-color);
  transition: background-color 0.3s ease;
  line-height: 1.44rem;
}

a {
  color: var(--body-text-color);
}

p {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 1rem;
}

.container,
main,
.chat-container,
.chat-log,
.tools,
dl,
footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

body,
textarea,
button {
  font-size: 100%;
  font-family: 'Lightward Favorit';
  font-weight: 200;
  color: var(--body-text-color);
}

button.text-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--body-text-color);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
  line-height: 2.4rem;
}

h1 {
  font-weight: 200;
  font-size: 2rem;
  margin: 0;
}

header h1 {
  flex: 1;
}

dl {
  gap: 0.5rem;
}

dl,
dd {
  margin: 0;
}

dt {
  font-weight: 400;
}

.element {
  padding: 0.7rem 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.375rem;
}

button {
  background-color: var(--start-button-bg-color);
  border: 1px solid var(--start-button-border-color);
  color: var(--body-text-color);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-decoration: none;
  font-family: 'Lightward Favorit';
}

button:hover {
  background-color: var(--start-button-hover-bg-color);
  box-shadow: var(--box-shadow-hover);
}

.chat-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-log {
  flex: 1;
  background-color: var(--body-bg-color);
}

.chat-message {
  min-height: 1rem;
  background-color: var(--assistant-message-bg-color);
  border: 1px solid var(--assistant-message-border-color);
}

.chat-message.user {
  background-color: var(--user-message-bg-color);
  border: 1px solid var(--user-message-border-color);
}

.pulsing {
  animation: pulsing 1.5s infinite;
}

@keyframes pulsing {
  0% {
    opacity: 0.5;
    filter: blur(1px);
  }
  50% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 0.5;
    filter: blur(1px);
  }
}

#user-input {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: norap;
  gap: 0.5rem;
}

#user-input textarea {
  position: relative;
  flex: 1;

  color: var(--body-text-color);
  border: 1px solid var(--user-input-active-border-color);
  background-color: var(--user-input-active-bg-color);

  box-sizing: border-box; /* Ensures padding is included dimensions */
  resize: none; /* Disable manual resizing */
  overflow: hidden; /* Disable scrollbars; going for autoscrolling */
}

/* if we're on a device with a physical keyboard... */
@media (hover: hover) {
  #user-input:after {
    content: attr(data-submit-tip);
    position: absolute;
    right: 0;
    bottom: -1.7rem;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #user-input.multiline:after {
    opacity: 0.5;
  }
}

#user-input.disabled {
  opacity: 0.5;
  filter: blur(1px);
  pointer-events: none;
}

#user-input.disabled textarea {
  border: 1px solid var(--user-input-disabled-border-color);
  background-color: var(--user-input-disabled-bg-color);
}

#user-input.disabled button {
  display: none;
}

#instructions {
  white-space: nowrap;
  padding-right: 1rem;
}

.tools {
  margin-top: 0.5rem;
}

footer {
  margin-top: 1rem;
  gap: 2rem;
}

a,
button.text-button {
  color: var(--body-text-color);
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
}

a:hover,
button.text-button:hover {
  color: var(--start-button-border-color);
  background-color: transparent;
  box-shadow: none;
}

.response-suggestions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.response-suggestions .element {
  margin: 0;
  display: inline-block;
}

#video-intro {
  width: 100%;
  max-width: 600px;
}

/* should come last */
.hidden {
  display: none !important;
}
