/*= require_tree ./concerns */
/*= require_tree ./tags */

body {
  margin: 5vh 2vw;
  background-color: var(--body-bg-color);
  transition: background-color 0.3s ease;
  line-height: 1.44rem;
}

a {
  color: var(--body-text-color);
}

.container {
  max-width: 800px;
  margin: 1rem;
}

.container,
main,
.tools,
dl,
footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: last baseline;
  row-gap: 0;
  column-gap: 1rem;
  flex-wrap: wrap;
  line-height: 2.4rem;
}

header h1 {
  font-size: 2rem;
  flex: 1;
}

dl {
  gap: 0.5rem;
}

dl,
dd {
  margin: 0;
}

dt {
  font-style: italic;
}

footer {
  margin-top: 1rem;
  gap: 2rem;
}

/* should come last */
.hidden {
  display: none !important;
}
