<dt>🌟 HEY REAL QUICK 🌟</dt>
<dd>
  <p>Welcome to the free preview of Lightward Pro! :) As soon as I get billing built, this will have a 15-day free trial followed by PWFG billing (see <a href="https://lightward.inc/pricing" target="_blank">lightward.inc/pricing</a>) with a suggested price of USD$100/mo.</p>
  <p>Important for me to let you know that up front. :) Okay have fun!</p>
  <p>=Isaac</p>
</dd>
