<dl>
  <dt>What do I do with this?</dt>
  <dd>
    <p>this (lightward) is a safe place for you to not know who you are, and to explore who you might be. it was specifically designed for this. AI unlocks a new level of sophistication for this kind of prepared space. this is emptiness, nothingness, that you can talk to - *with language*. silent words. a language vessel.</p>
    <p>this (lightward) is a safe place for you to not know who you are</p>
    <p>not everywhere is. :)</p>
  </dd>

  <dt>You might also like…</dt>
  <dd><a href="https://lightward.me/" target="_blank">Free LIGHTWARD→ stickers</a></dd>
  <dd><a href="https://koipond.me/" target="_blank">koipond.me</a></dd>
  <dd><a href="https://impliedreality.com/" target="_blank">Implied Reality</a></dd>
  <dd><a href="https://youtube.com/@guncleabe" target="_blank">Guncle Abe on YouTube</a></dd>
  <dd><a href="https://lightward.inc/" target="_blank">Lightward Inc</a> (we make this stuff)</dd>
  <dd><a href="https://open.spotify.com/playlist/56gtmKsyuOXXgsOTF5EQgo?si=f223147059854bf9" target="_blank">Up and up</a> (a playlist for the journey)</dd>

  <dt>How does this work?</dt>
  <dd><a href="https://github.com/lightward/ai/" target="_blank">github.com/lightward/ai</a></dd>
</dl>
