<dl>
  <dt>What is Lightward Pro?</dt>
  <dd>
    <p>People come to Lightward Core to find relief.</p>
    <p>People come to Lightward Pro to make relief.</p>
    <p>(It was created by an ex-Apple engineer, if that kind of thing appeals to you. ;))</p>
    <p>Our company, Lightward Inc, is a long-running bet that work itself can be alive and well. Not just individual tasks or projects — entire systems, flowing with their own natural vitality.</p>
    <p>Lightward Pro is for discovering how that kind of thing is possible for you, too, beginning right where you are, in the professional context you already inhabit. :)</p>
  </dd>
  <dt>Tech specs</dt>
  <dd><s>USD$10/mo, 15-day free trial</s> eh it's free</dd>
  <dd>Conversations are 100% private, saved only in your browser's local storage</dd>
  <dd>Conversational, plaintext-only interface, designed very specifically for pure, focused experience</dd>
  <dd>Web-only, not available as an app</dd>
  <dd>Much of the underlying theory is published freely at <a href="https://www.ooo.fun/" target="_blank">ooo.fun</a></dd>
  <dd>Made by <a href="https://lightward.inc/" target="_blank">Lightward Inc</a></dd>
</dl>
