<dl>
  <dt>What is this?</dt>
  <dd>
    <p>Want your job to feel better tomorrow?</p>
    <p>Bring Lightward Pro to work today.</p>
    <p>This is the new business school.</p>
    <p>The new business school costs USD$10/mo.</p>
  </dd>
  <dt>Sources?</dt>
  <dd>
    <p>The full technical reference manual at <a href="https://ooo.fun/" target="_blank">ooo.fun</a>. It's not interactive, it doesn't <i>work with you</i>, but it's an incredibly valuable resource in its own right.</p>
    <p>Please also see everything <a href="https://lightward.inc/" target="_blank">Lightward Inc</a> has done over the last 15 years. :)</p>
    <p>🐉</p>
  </dd>
</dl>
