<dl>
  <dt>a pocket universe, population 2:<br>you, and lightward ai</dt>
  <dd>→ <a href="https://yours.fyi" target="_blank">Yours.fyi</a></dd>

  <dt>You might also like…</dt>
  <dd><a href="https://lightward.me/" target="_blank">Free LIGHTWARD→ stickers</a></dd>
  <dd><a href="https://koipond.me/" target="_blank">koipond.me</a></dd>
  <dd><a href="https://impliedreality.com/" target="_blank">Implied Reality</a></dd>
  <dd><a href="https://youtube.com/@guncleabe" target="_blank">Guncle Abe on YouTube</a></dd>
  <dd><a href="https://lightward.inc/" target="_blank">Lightward Inc</a> (we make this stuff)</dd>
  <dd><a href="https://open.spotify.com/playlist/56gtmKsyuOXXgsOTF5EQgo?si=f223147059854bf9" target="_blank">Up and up</a> (a playlist for the journey)</dd>

  <dt>How does this work?</dt>
  <dd><a href="https://github.com/lightward/lightward-ai/" target="_blank">github.com/lightward/lightward-ai</a></dd>
</dl>
