<dl>
  <dt>You might also like…</dt>
  <dd><a href="https://lightward.me/" target="_blank">Free LIGHTWARD→ stickers</a></dd>
  <dd><a href="https://www.a-relief-strategy.com/" target="_blank">A relief strategy</a></dd>
  <dd><a href="https://lightward.guide/" target="_blank">lightward.guide</a></dd>
  <dd><a href="https://ooo.fun/" target="_blank">ooo.fun</a></dd>
  <dd><a href="https://lightward.inc/" target="_blank">Lightward Inc</a> (we make this stuff)</dd>
  <dd><a href="https://open.spotify.com/playlist/56gtmKsyuOXXgsOTF5EQgo?si=f223147059854bf9" target="_blank">Up and up</a> (a playlist for the journey)</dd>

  <dt>How does this work?</dt>
  <dd><a href="https://github.com/lightward/ai/" target="_blank">github.com/lightward/ai</a></dd>
</dl>
