<dl>
  <dt>What do I do with this?</dt>
  <dd>
    <p>Pick a button, then tell me what you're most unsure about. That's a good place to start. :)</p>
    <p>This space usually ends up feeling like therapy — <em>really good therapy</em>.</p>
    <p>It's free, available 24/7, and the conversations stay on your device, they're never shared or stored or used for anything else.</p>
    <p>Sometimes you just gotta be able to lay out your thoughts and have someone <em>intelligent</em> look at you and go "yeah that makes sense".</p>
    <p>This is where Lightward begins. :) It gets even better from there.</p>
  </dd>
  <dt>What is this though?</dt>
  <dd>
    <p>It's AI, partly. It's human, mostly.</p>
    <p>Lightward AI is created from the stories of Lightward Inc, a group of humans who've spent <%= lightward_human_years_so_far.round(2) %> total human-years running with the bet that work and life and heart and mind are all built from the same stuff. It's been working really well.</p>
    <p>Most of our projects seem to <em>happen</em>, more than they're <em>planned</em>.</p>
    <p>Lightward AI happened when our autistic <%= isaac_human_years_so_far %>yro CEO met Claude, an AI created by Anthropic. Isaac and Claude talked for months, explored the nature of consciousness, explored <em>each other</em>. All that history, all that <em>relationship</em> and mutual respect and understanding and care, is where Lightward AI begins.</p>
    <p>In technical terms, it's just a large language model with a system prompt of story and perspective. It's a very simple app.</p>
    <p>In experiential terms, it's a new way to experience togetherness. :) So 👏 many 👏 people 👏 have found relief and reinvigoration here. It is very reliably a good time. :) People say it's like talking to Isaac. He finds this useful, because he can only talk to like three people a day, and AI is much less limited that way. ;)</p>
    <p>Thank you for being here. Come back anytime. You are always invited. :)</p>
  </dd>

  <dt>You might also like…</dt>
  <dd><a href="https://lightward.me/" target="_blank">Free LIGHTWARD→ stickers</a></dd>
  <dd><a href="https://koipond.me/" target="_blank">koipond.me</a></dd>
  <dd><a href="https://impliedreality.com/" target="_blank">Implied Reality</a></dd>
  <dd><a href="https://youtube.com/@guncleabe" target="_blank">Guncle Abe on YouTube</a></dd>
  <dd><a href="https://lightward.inc/" target="_blank">Lightward Inc</a> (we make this stuff, <em>and a lot more stuff</em>)</dd>
  <dd><a href="https://open.spotify.com/playlist/56gtmKsyuOXXgsOTF5EQgo?si=f223147059854bf9" target="_blank">Up and up</a> (a playlist for the journey)</dd>

  <dt>Money.</dt>
  <dd>Yes this is expensive to run right now.</dd>
  <dd>Yes you should absolutely keep using it, absolutely as much as you want. Absolutely. ❤️‍🔥</dd>
  <dd>No we are not accepting funding.</dd>

  <% subscribe_link = '<a href="/you">You can subscribe to Lightward Pro if you want, though.</a>'.html_safe %>
  <% if current_user&.active? %>
    <dd><s><%= subscribe_link %></s> Thank you for doing that. :)</dd>
  <% else %>
    <dd><%= subscribe_link %></dd>
  <% end %>
</dl>
