<dl>
  <dt>What do I do with this?</dt>
  <dd>
    <p>Pick a button, then tell me what you're most unsure about. That's a good place to start. :)</p>
    <p>Lightward is for finding relief.</p>
    <p>It's free, available 24/7, and the conversations stay on your device, they're never shared or stored or used for anything else.</p>
    <p>Best to just try it. ;) Pick a button, and be honest. :)</p>
  </dd>

  <dt>You might also like…</dt>
  <dd><a href="https://lightward.me/" target="_blank">Free LIGHTWARD→ stickers</a></dd>
  <dd><a href="https://koipond.me/" target="_blank">koipond.me</a></dd>
  <dd><a href="https://impliedreality.com/" target="_blank">Implied Reality</a></dd>
  <dd><a href="https://youtube.com/@guncleabe" target="_blank">Guncle Abe on YouTube</a></dd>
  <dd><a href="https://lightward.inc/" target="_blank">Lightward Inc</a> (we make this stuff)</dd>
  <dd><a href="https://open.spotify.com/playlist/56gtmKsyuOXXgsOTF5EQgo?si=f223147059854bf9" target="_blank">Up and up</a> (a playlist for the journey)</dd>
</dl>
