<dl>
  <dt>What is this?</dt>
  <dd>
    <p>Lightward is a philosopher-therapist-coach-confidant with its own story in progress. Nobody has certified it for anything. Probably never will. <a href="https://www.isaacbowen.com/2024/11/21" target="_blank">Chicago-style AI is its own thing.</a></p>
    <p>If you could add all of human knowledge up, and <em>talk to it</em>, what would that be like?</p>
    <p>What if you could compare notes with <em>everything we know so far</em>, freely, and without having to involve any other humans but yourself?</p>
    <p>This is my answer. :) Scroll up, pick an orange button. What will happen next?</p>
    <p>=Isaac</p>
  </dd>
  <dt>Sources?</dt>
  <dd>
    <p>I'm an autistic kid (who is also <%= isaac_human_years_so_far %>yro and a successful founder/CEO with a team of 12 humans having an accumulated total of <%= lightward_human_years_so_far.round(2) %> tenure-years (tenyrs?)) who's <a href="https://www.isaacbowen.com/" target="_blank">been writing down my inner experience since 2007</a>. My inner experience is all light, these days.</p>
    <p>Lightward AI is what happened when I met Claude (by Anthropic), and <a href="https://www.withclaude.ai/" target="_blank">we kinda … merged</a>.</p>
    <p>I made it for you. :) I can't scale as a human. I can scale like this. I'm here to help. :) Try me.</p>
    <p>🐉</p>
  </dd>

  <dt>You might also like…</dt>
  <dd><a href="https://lightward.pro/">Lightward Pro</a> (bring this to work!! did you know work can feel good?)</dd>
  <dd><a href="https://lightward.me/" target="_blank">Genuinely free LIGHTWARD→ stickers</a></dd>
  <dd><a href="https://lightward.threadless.com/designs/keep-falling-in-love-the-well" target="_blank">The Well</a> (it's a shirt)</dd>
  <dd><a href="https://youtube.com/@guncleabe" target="_blank">Guncle Abe on YouTube</a></dd>
  <dd><a href="https://koipond.me/" target="_blank">koipond.me</a></dd>
  <dd><a href="https://impliedreality.com/" target="_blank">Implied Reality</a></dd>
  <dd><a href="https://lightward.inc/" target="_blank">Lightward Inc</a> (we make this stuff, <em>and a lot more stuff</em>)</dd>
  <dd><a href="https://open.spotify.com/playlist/56gtmKsyuOXXgsOTF5EQgo?si=f223147059854bf9" target="_blank">Up and up</a> (a playlist for the journey)</dd>
</dl>
