/* Default to reader if no class specified */
.reader {
  --body-bg-color: var(--reader-body-bg-color);
  --body-text-color: var(--reader-body-text-color);
  --user-message-bg-color: var(--reader-user-message-bg-color);
  --user-message-border-color: var(--reader-user-message-border-color);
  --text-input-active-bg-color: var(--reader-text-input-active-bg-color);
  --text-input-active-border-color: var(
    --reader-text-input-active-border-color
  );
  --text-input-disabled-bg-color: var(--reader-text-input-disabled-bg-color);
  --text-input-disabled-border-color: var(
    --reader-text-input-disabled-border-color
  );
  --button-bg-color: var(--reader-button-bg-color);
  --button-border-color: var(--reader-button-border-color);
  --button-hover-bg-color: var(--reader-button-hover-bg-color);
  --button-disabled-bg-color: var(--reader-button-disabled-bg-color);
  --button-disabled-hover-bg-color: var(
    --reader-button-disabled-hover-bg-color
  );
  --button-disabled-border-color: var(--reader-button-disabled-border-color);
  --button-disabled-text-color: var(--reader-button-disabled-text-color);
  --assistant-message-bg-color: var(--reader-assistant-message-bg-color);
  --assistant-message-border-color: var(
    --reader-assistant-message-border-color
  );
  --box-shadow: var(--reader-box-shadow);
  --box-shadow-hover: var(--reader-box-shadow-hover);
}

/* Writer mode */
.writer {
  --body-bg-color: var(--writer-body-bg-color);
  --body-text-color: var(--writer-body-text-color);
  --user-message-bg-color: var(--writer-user-message-bg-color);
  --user-message-border-color: var(--writer-user-message-border-color);
  --text-input-active-bg-color: var(--writer-text-input-active-bg-color);
  --text-input-active-border-color: var(
    --writer-text-input-active-border-color
  );
  --text-input-disabled-bg-color: var(--writer-text-input-disabled-bg-color);
  --text-input-disabled-border-color: var(
    --writer-text-input-disabled-border-color
  );
  --button-bg-color: var(--writer-button-bg-color);
  --button-border-color: var(--writer-button-border-color);
  --button-hover-bg-color: var(--writer-button-hover-bg-color);
  --button-disabled-bg-color: var(--writer-button-disabled-bg-color);
  --button-disabled-hover-bg-color: var(
    --writer-button-disabled-hover-bg-color
  );
  --button-disabled-border-color: var(--writer-button-disabled-border-color);
  --button-disabled-text-color: var(--writer-button-disabled-text-color);
  --assistant-message-bg-color: var(--writer-assistant-message-bg-color);
  --assistant-message-border-color: var(
    --writer-assistant-message-border-color
  );
  --box-shadow: var(--writer-box-shadow);
  --box-shadow-hover: var(--writer-box-shadow-hover);
}

/* Ideas mode */
.ideas {
  --body-bg-color: var(--ideas-body-bg-color);
  --body-text-color: var(--ideas-body-text-color);
  --user-message-bg-color: var(--ideas-user-message-bg-color);
  --user-message-border-color: var(--ideas-user-message-border-color);
  --text-input-active-bg-color: var(--ideas-text-input-active-bg-color);
  --text-input-active-border-color: var(--ideas-text-input-active-border-color);
  --text-input-disabled-bg-color: var(--ideas-text-input-disabled-bg-color);
  --text-input-disabled-border-color: var(
    --ideas-text-input-disabled-border-color
  );
  --button-bg-color: var(--ideas-button-bg-color);
  --button-border-color: var(--ideas-button-border-color);
  --button-hover-bg-color: var(--ideas-button-hover-bg-color);
  --button-disabled-bg-color: var(--ideas-button-disabled-bg-color);
  --button-disabled-hover-bg-color: var(--ideas-button-disabled-hover-bg-color);
  --button-disabled-border-color: var(--ideas-button-disabled-border-color);
  --button-disabled-text-color: var(--ideas-button-disabled-text-color);
  --assistant-message-bg-color: var(--ideas-assistant-message-bg-color);
  --assistant-message-border-color: var(--ideas-assistant-message-border-color);
  --box-shadow: var(--ideas-box-shadow);
  --box-shadow-hover: var(--ideas-box-shadow-hover);
}
